<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TextViewDemo"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".thumb.ThumbActivity" />
        <activity android:name=".gradient.GradientActivity" />
        <activity android:name=".vertical.CenterActivity" />
        <activity android:name=".gradient_vertical.GradientVerticalActivity" />
        <activity android:name=".gradient1.GradientActivity1" />
        <activity android:name=".gradient2.GradientActivity2" />
        <activity android:name=".shader.ShaderActivity" />
        <activity android:name=".shader.canvas.TestViewActivity" />
        <activity android:name=".shader.bitmap.TestViewActivity2" />
        <activity android:name=".shader.bitmapshader.BitmapShaderActivity" />
        <activity android:name=".shader.lineargradientspan.LinearGradientSpanActivity" />
        <activity android:name=".shader.bitmapshaderspan.BitmapShaderSpanActivity" />
        <activity android:name=".shader.mix.MixSpanActivity" />
        <activity android:name=".shader.utils.shaderanim.BitmapShaderAnimActivity" />
        <activity android:name=".textview_test.TextViewTestActivity" />
        <activity android:name=".random_text.RandomTextActivity" />
        <activity android:name=".gradientanimspan.GradientAnimSpanActivity" />
        <activity android:name=".gradientanimspan.GradientAnimSpanActivity1" />
        <activity android:name=".gradientanimspan.GradientAnimSpanActivity2" />
        <activity android:name=".gradientanimspan.test3.GradientAnimSpanActivity3" />

    </application>

</manifest>